*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family:calibri;
  font-size: 19px;
  color: red; 
}

.topo {
   background-color:bisque ;
   padding: 30px;
   font-size: 14px;
}

.topo a {
  color: brown;
  text-decoration: none;
} 

.rodape { 
   background-color: bisque;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
} 

.materia {
  background-color: bisque;
  padding: 30px;
  margin-bottom: 30px;
  width: 320px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.materia img {
  width: 280px;
}

.materia h1 {
margin-bottom: 10px;
font-size: 30px;
color: brown;
}

.menu{
  display: flex;
  list-style: none;
  margin-left: auto;
}

.menu a:hover{
color:black ;
}

.titulo{
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.texto{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color:brown;
}

.menu li{
  margin-left: 20px;
}

.botao {
  background-color:brown;
  color: bisque;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  border:20px ;
}

.botao:hover {
  background-color:black;
}

.navegacao{
  display: flex;
}

main{
  padding: 30px;
}

.grade{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
}

.rotulo{
  display: block;
  margin-bottom: 20px;
}

.campo{
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  border: none ;
  background-color: slategrey;

}

.contato{
  background-color:bisque;
  padding: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

textarea.campo {
  height: 150px;
  padding: 10px;
  font-family: Calibri;
}

.campo:focus{
  background-color: azure;
  outline: none; 
}

.mapa{
  width: 100%;
}

